/***** generics *****/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
}

.start,
.about,
footer {
  color: #fff;
}

/***** utilities *****/

/* colors */

.bg-primary {
  background-color: rgb(44, 62, 81) !important;
}

.btn-outline-success {
  color: #fff !important ;
  background-color: rgb(26, 188, 156) !important;
  border-color: #fff !important;
}

.btn-success {
  background-color: rgb(26, 188, 156) !important;
  border: 0;
}

.dg-bg-green {
  background-color: rgb(26, 188, 156);
}

.dg-green {
  color: rgb(26, 188, 156);
}

.dg-bg-bordeaux {
  background-color: rgb(186, 75, 99);
}

.dg-bg-tiffany {
  background-color: rgb(30, 164, 182);
}

.dg-bg-black {
  background-color: black;
}

.dg-bg-skyblue {
  background-color: rgb(28, 131, 193);
}

.dg-bg-blue {
  background-color: rgb(14, 56, 181);
}

.dg-bg-beige {
  background-color: rgb(204, 178, 163);
}

.dg-bg-lightblue {
  background-color: #3a546e;
}

/* content */

.star-rule,
h1 {
  font-size: 32px;
}
/* creo border radius, e adatto con il padding le icons */
.dg-circle,
.dg-circle-two,
.dg-circle-three {
  border-radius: 50%;
  border: 1px solid white;
}

.dg-circle {
  padding: 10px 16px;
}

.dg-circle-two {
  padding: 10px 10px;
}

.dg-circle-three {
  padding: 10px 12px;
}
