/***** generics *****/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
}

/***** utilities *****/

/* heights */

.dg-h-50 {
  height: 50px;
}

.dg-h-100 {
  height: 100px;
}

.dg-h-150 {
  height: 150px;
}

.dg-h-200 {
  height: 200px;
}

.dg-h-300 {
  height: 300px;
}

.dg-h-350 {
  height: 350px;
}

.dg-h-400 {
  height: 400px;
}

.dg-h-500 {
  height: 500px;
}

.dg-h-600 {
  height: 600px;
}

/* colors */

.dg-bg-nightblue {
  background-color: rgb(44, 62, 81);
}

.dg-bg-green {
  background-color: rgb(26, 188, 156);
}

.dg-bg-bordeaux {
  background-color: rgb(186, 75, 99);
}

.dg-bg-tiffany {
  background-color: rgb(30, 164, 182);
}

.dg-bg-black {
  background-color: black;
}

.dg-bg-skyblue {
  background-color: rgb(28, 131, 193);
}

.dg-bg-blue {
  background-color: rgb(14, 56, 181);
}

.dg-bg-beige {
  background-color: rgb(204, 178, 163);
}

.dg-bg-lightblue {
  background-color: #3a546e;
}

/* padding & margin */

.dg-pd {
  padding: 30px;
}

.dg-pd-bot {
  padding-bottom: 40px;
}

.dg-m-10 {
  margin: 10px;
}
